<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>angularjs表单验证</title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style2.css">
</head>
<body  ng-app="myapp">
<div class="container"  ng-controller="userCtrl">
    <h3>用户信息添加与修改</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>电话号码</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{$index+1}}</td>
                <td>{{user.f_name}}</td>
                <td>{{user.f_sex}}</td>
                <td>{{user.f_phone}}</td>
                <td>
                    <button  class="btn  btn-primary"  ng-click="editUser($index+1)">
                        <span class="glyphicon glyphicon-pencil">编辑</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <hr>
        <button class="btn btn-success"  ng-click="addUser()">
             <span  class="glyphicon  glyphicon-user">创建新用户</span>
        </button>
    <hr>

    <h3 ng-show="edit">创建新用户</h3>
    <h3 ng-hide="edit">编辑用户</h3>

    <form  class="form-horizontal" ng-submit="submit1()">
        <div  class="form-group">
            <label class="col-sm-2 control-label">姓名:</label>
            <div class="col-sm-4">
                <input type="text" ng-model="user_name"  ng-disabled="!edit"  class="form-control" placeholder="请输入姓名">
            </div>
        </div>

        <div  class="form-group">
            <label class="col-sm-2 control-label">性别:</label>
            <div class=" col-sm-4">
                <label class="radio-inline">
                     <input type="radio"    ng-model="user_sex"  value="1">男
                </label>
                <label class="radio-inline">
                     <input type="radio"    ng-model="user_sex"  value="0">女
                </label>
            </div>
        </div>

        <div  class="form-group">
            <label class="col-sm-2 control-label">手机号码:</label>
            <div class="col-sm-4">
                <input type="text" ng-model="user_phone" class="form-control"  placeholder="请输入电话号码">
            </div>
        </div>
        <input type="hidden"  ng-model="user_id">
        <button  class="btn btn-success"  ng-disabled="incomplete">
            <span  class="glyphicon glyphicon-save">
                <span>提交</span>
            </span>
        </button>

    </form>



    <hr>
    <hr>


</div>

<!--<script  src="http://apps.bdimg.com/libs/angular.js/1.3.9/angular.min.js"></script>-->
<script src="js/angular-1.3.0.js"></script>
<script  src="js/2.js"></script>
</body>
</html>